// Import TBS SCSS bases.

// @import "bootstrap/scss/bootstrap";

// Import TBS Web font for Icons.

$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

// UofA Styles.

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

$primary-color: #ff0000;

a{
    color: #0070ba;
}

a:hover {
    color: #00426e;
}